.body_main {
  display: flex;
  align-items: row;
  text-align: center;
  position: absolute;
  padding: 10px 10px;
  left: 0px;
  top: 92px;
  right: 0px;
  bottom: 48px;
  background: #4d4d4d;
  mix-blend-mode: hard-light;
  border: 1px solid #000000;
  box-sizing: border-box;
}
