.inside {
  color: white;
  position: absolute;
  height: 48px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #35363a;
  mix-blend-mode: hard-light;
  border: 1px solid #000000;
}

label span {color: white;}