.HeaderExample {
  /* -NavHeader */
  display: flex;
  /* position:absolute;
 
  left: 0px;
  right: 0px;
  top: 0px;  */
  justify-content: space-evenly;
  height: 48px;
  background: #35363a;
}
#title {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-top: 13px;

  color: #ffffff;
}
#kill {
  margin-top: 7px;
  background: #d05b5b;
  border: 1px solid #551010;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #ffffff;
}
#Drive {
  margin-top: 7px;
  background: #58a942;
  border: 1px solid #015e0a;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #ffffff;
}
#Toggle {
  margin-top: 13px;
  position: fixed;
}
#TextBoxes {
  margin-top: 7px;
  margin-bottom: 7px;
  background: #979798;
  color: white;
  opacity: 0.6;
  border: 2px solid #35363a;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
#navtxt {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #ffffff;
}
#myico {
  /* font-family: Fabric MDL2 Assets; */
  font-size: 25px;
  line-height: 100%;
  /* identical to box height, or 16px */

  display: flex;
  align-items: center;
  text-align: center;

  /* Grey palette / White */

  color: #ffffff;
}
#myico {
  /* font-family: Fabric MDL2 Assets; */
  font-size: 27px;
  line-height: 100%;
  /* identical to box height, or 16px */

  display: flex;
  align-items: center;
  text-align: center;

  /* Grey palette / White */

  color: #ffffff;
}
#myico3 {
  /* font-family: Fabric MDL2 Assets; */
  font-size: 32px;
  line-height: 100%;
  /* identical to box height, or 16px */

  display: flex;
  align-items: center;
  text-align: center;

  /* Grey palette / White */

  color: #ffffff;
}
#Textboxes2 {
  margin-top: 7px;
  margin-bottom: 7px;
  background: #979798;
  color: white;
  opacity: 0.6;
  border: 2px solid #35363a;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
#myico2 {
  /* font-family: Fabric MDL2 Assets; */
  font-size: 25px;
  line-height: 100%;
  /* identical to box height, or 16px */

  display: flex;
  align-items: center;
  text-align: center;

  /* Grey palette / White */

  color: #62c554;
}
#icobtn {
  background-color: #35363a;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
}
